* {  
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;  
  box-sizing: border-box;  
}
body{ 
  margin: 16px;
  font-size: 100%;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  /* background-image: url('./Utilities/Nature-Photography-105.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5); 0.5 represents the opacity level (50%) */
}